.catalog-container {
  font-size: 18px;
}

.catalog-title-container {
  margin-bottom: 15px;
}

.catalog-title-container h1 {
  font-size: 0.9em;
  letter-spacing: -0.015em;
  color: #263238;
}

.catalog-grid-container {
  height: 100%;
}

.catalog-item-container {
  padding-bottom: 30px;
}

@media (min-width: 576px) {
  .catalog-container {
    font-size: 1.5em;
  }
}
