.catalog-container {
  font-size: 18px;
}

.catalog-bar-container {
  margin-bottom: 35px;
  height: 60px;
  display: flex;
  align-items: center;
}

.catalog-bar-container h1 {
  width: auto;
  margin-right: 30px;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: #263238;
}

.catalog-grid-container {
  height: 100%;
}

.catalog-item-container {
  padding-bottom: 30px;
}
